<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Debug logging for Guacamole -->
    <logger name="org.apache.guacamole" level="DEBUG"/>
    <logger name="org.apache.guacamole.tunnel" level="DEBUG"/>
    <logger name="org.apache.guacamole.websocket" level="DEBUG"/>
    <logger name="org.apache.guacamole.net" level="DEBUG"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
