# Database Configuration
MYSQL_ROOT_PASSWORD=1b9d06051bd88a47cf8b71137f42314efd2f98124f13f1d78102b6c89683784e
MYSQL_DATABASE=appliance_dashboard
MYSQL_USER=appliance_user
MYSQL_PASSWORD=5360cdc96c966c19b5e4b57923adf6e6f4f140a4e33831eb7a4d073eaf5330d9

# Backend Database Connection
DB_HOST=database
DB_PORT=3306
DB_USER=appliance_user
DB_PASSWORD=90dbf5efcc4e8b8892735e19b44457d1080e97485bedc20de202f70a611b6d8d
DB_NAME=appliance_dashboard

# Security Keys
JWT_SECRET=1283d9ed8f6ab335a5759612cc8abcea1dbde429e21b4221690a203eadfb7b55
SSH_KEY_ENCRYPTION_SECRET=e1db82009e0cc5242b2270bbe83e2e977ecb44a7988c2964b2ec776a39bf7001

# CORS Configuration
ALLOWED_ORIGINS=http://localhost,http://localhost:80,https://localhost,https://localhost:443

# Guacamole Database
GUACAMOLE_DB_NAME=guacamole_db
GUACAMOLE_DB_USER=guacamole_user
GUACAMOLE_DB_PASSWORD=b7c8eba942c4422a093546b154f0f22e5c6af09fa43a0c103caaa3c84619eda8

# Admin User (will be created on first run)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# SSH Default User (for terminal access)
DEFAULT_SSH_USER=root
DEFAULT_SSH_PASS=
